/* resetting browser stuff */
*     {
  box-sizing: border-box;
}

html,
body   {
  margin: 0;
  padding: 0;
  height: 100%; 
  line-height: 1.5;
  font-size: 1.00em;
}

/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}



/* styling our header */
header   {
  background: #000000;
  color: #EC1C24;
  padding: 1.250em 1.875em;
}

#user_type{
 width:150px;  
  
}

.section h1  {
  font-size: 3.00em;
  margin: 1.00em;
  font-family: Arial, Helvetica, sans-serif;
}

/* logo */
#logo         {
  display: inline-block;
  color: #EC1C24;
  text-decoration: none;
  width: 25%;
  margin-right: 3.5em;
}
#logo img    {
  width: 3.125em;
  border-radius: 0.188em;
  margin-right: 0.500em;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
  
}

hr  {
 border:0;
 height: 1px;
 background:#333;
 background-image: linear-gradient(to right, #ccc, #333, #ccc);

}

/* main navigation */
nav     {
  width: 69%;
  display: inline-block;
  position: relative;
  text-align: right;
  margin-right: 10px;
  
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #EC1C24;
  text-decoration: none;
  display: block;
  padding: 0.625em 0.938em;
  border-radius: 0.188em;
  transition: 0.3s ease all;
}
nav ul li a:hover   {
  background: #444;
}

.nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
} 
.site-footer {
  background: #000000;
  color: #EC1C24;
  padding: 0.3em;
  text-align: center;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

/* styling our 
 */
footer {
  background: #000000;
  color: #EC1C24;
  padding: 0.3em;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer img {
  display: block;
  border-radius: 0.313em;
  width: 5.00em;
  margin: 0 auto 0.625em;
}

/* styling our main content */
.iit {
  min-height: 40.00em;
  text-align: center;
}
.iit-content   {
  color: #FFF;
  padding-top: 5em;
}
.iit-content h1   {
  font-size: 6.250em;
  margin: 0;
}
.iit-content p    {
  font-size: 3.125em;
}
.iit-content a    {
  display: inline-block;
  color: #FFF;
  border: 0.188em solid #000000;
  background: #000000;
  border-radius: 0.188em;
  padding: 0.938em 1.875em;
  margin-right: 1.250em;
  text-decoration: none;
  font-size: 1.750em;
}


/* basic site sections */
.site-section  {
  padding-bottom: 3.125em;
  padding-top: 3.125em;
}
.site-section-secondary {
  background: #EFEFEF;
}
.site-section-inside {
  width: 80%;
  max-width: 75.00em;
  margin: 0 auto;
}
.section-header {
  text-align: center;
  margin-bottom: 1.875em;
}
.section-header h2  {
  font-size: 1.875em;
  letter-spacing: .125em;
  text-transform: uppercase;
  font-weight: 300;
  color: #0f0f0f;
}

.section-about {
  text-align: center;
  margin-bottom: 1.875em;
}
.section-about h2  {
  font-size: 1.875em;
  letter-spacing: .125em;
  text-transform: uppercase;
  font-weight: 300;
  color: #0f0f0f;
}
.imgContainer{
   padding: 0em 6.063em 0em 6.063em;
  display: -webkit-inline-box; 
  position: relative;
  
}
.text-block {
  position: absolute;
  bottom: 6px;
  right: 97px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 200px;
}

/* feature boxes */
.feature-box {
  display: inline-block;
  width: 33%;
  padding: 0.10em 1.275em;
}
.feature-box img {
  margin-bottom: 0.750em;
  width: 5.00em;
  display: inline-block;
}
.feature-box h5 {
  font-size: 1.250em;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.125em;
  margin: 0;
}
div.login {
  text-align: center;
  padding: 0.375em;
}
div.Help {
  text-align: center;
  font-size: .80em;
}
.rslides {
  min-height: 40.00em;
  position: absolute;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 10%;
  padding: 0;
  margin: 0;
  z-index: -1;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
#btnSignup {
  margin-left: 00px;
  font-size: 1.250em;
  color: #EC1C24;
  background: #000000;
  text-align: center;
}
[name=login_user] {
  font-size: 1.250em;
  color: #EC1C24;
  background: #000000;
  text-align: center;
}
#btnSignup:hover {
  background: #444;
}
  
.form-signin-heading {
  padding-left: 3.00em;
}
#form1 {
  max-width: 400px;
  max-height: 700px;
  text-align: center;
  position: relative;
  padding-left: 40%;
  padding-top: 3.00em;
  padding-bottom: 3.00em;
  display: inline-block;
}

.form-control {
  position:  static; 
  width: 300px;
}
label[for="username"] {
  padding-right: 14.460em
}
label[for="txtPassword"] {
  padding-right: 14.460em
}
label[for="email"] {
  padding-right: 16.460em
}
label[for="txtConfirmPassword"] {
  padding-right: 10.460em
}

.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
#register {
  width:500px;
  margin:50px auto;
}
#login {
  width:500px;
  margin:50px auto;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  margin-top: 20px;
}
div.alreadym {
  font-size : .8em;
  text-overflow: ellipsis;
  width: 400px;
  text-align: left;
  margin-bottom: 5em;
}
.images{
  margin-left: 30px;
}


/* Searchbox style*/
.search-box { 
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background: #2f3640; 
  height: 40px;
  border-radius: 40px;
  width: 240px;
  z-index: 1;
  } 

.search-box:hover > .search_btn { 
  background: #000000;
  color: #EC1C24;
  } 
.search_btn { 
  color: #e84118;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000000;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: #EC1C24;
  cursor: pointer;
  position: relative;
  z-index: 3;
  } 
.search_btn > i { 
  font-size: 30px;
  color: #EC1C24;
  float: left;
  transition: 0.4s;
  } 
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #FFF;
  transition: 0.4s;
  line-height: 40px;
  font-weight: bold; 
  width: 200px;
  padding: 0 6px;
  }
  #login, .label{
    text-align: left;
    padding-left: 10em;
    padding-right: 10em;
  }
  #register, .label{
    text-align: left;
    padding-left: 10em;
    padding-right: 10em;
  }
  .frmImageUpload{
    margin-left: 34em;
  }
  .search-box{
    position:absolute;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFF;
  opacity: 1; /* Firefox */
}
.header h2 {	
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.table-container {
  height: 10em;
}
table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
table thead {
  /* head takes the height it requires, 
  and it's not scaled when table is resized */
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}
table tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
}
table tbody tr {
  width: 100%;
}
table thead, table tbody tr {
  display: table;
  table-layout: fixed;
}
#photoname{
  display:none;
}
/* Styles for Shan's create user form*/
#createuser {
  width:500px;
  margin:50px auto;
  padding-left: 20em;
}
#createuserform {
  text-align: center;
}
#createuser, .content {
  margin: 0px auto;
  padding-top: 2em;
  padding-left: 2em;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
#username {
  margin-left: 4.685em;
}
#email {
  margin-left: 7.2em;
}
#user_type {
  margin-left: 5.125em;
}
#password {
  margin-left: 5em;
}
#cpassword {
  margin-left: .5em;
}
/* Iphone media Queries*/

/* Iphone 6,7,8 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
  nav {
    width: 100%;
    top: 1em;
  }
  nav ul   {
    list-style: none;
    position: relative;
    right: 0;
    right: 10xp;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
    margin-right: 0em;
  }
  nav ul li a    {
    color: red;
    text-decoration: none;
    display: block;
    padding: 0.225em 0.538em;
    border-radius: 0.188em;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  .nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  } 
  header {
    padding: 0em 0em 2em 0em;
  }
  .search-box {
    position: absolute;
    top: 1.5em;
    left: 10em;
    margin-top: 2em;

  }
  #logo{
    width: 35%;
    padding: .1em;
    display: none;
  }
  .iit-content h1 {
    font-size: 3em;
  }
  .iit-content {
    padding-top: 0em;
  }
  .iit-content p {
    font-size: 1.2em;
    margin-bottom: 4.75em;
  }
  .iit-content a {
    margin-top: 0.25em;
    margin-left: 1.5em;
  }
  .feature-box {
    width: 100%;
  }
  .iit {
    min-height: 0;
  }
  table, td {
    font-size: 0.7em;
  }
  img {
    max-width:100%;
    height:auto;
  }
  .images {
    margin-left: 0;
  }
  .success {
    margin-top: 35px;
  }
  #login{
    padding-left: 6em;
    width: auto;
  }
  #register{
    padding-left: 6em;
    width: auto;
  }
}
/* Iphone 6, 7, 8 Plus */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
 
  nav {
    width: 100%;
    top: 1em;
  }
  nav ul   {
    list-style: none;
    position: relative;
    right: 0;
    right: 10xp;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
    padding: 0.3em;
    margin-right: 0em;
  }
  nav ul li a    {
    color: red;
    text-decoration: none;
    display: block;
    padding: 0.225em 0.538em;
    border-radius: 0.188em;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  .nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  } 
  header {
    padding: 0em 0em 2em 0em;
  }
  .search-box {
    position: absolute;
    top: 2.5em;
    left: 13em;
    margin-top: 2em;

  }
  #logo{
    width: 35%;
    padding: .1em;
    display: none;
  }
  .iit-content h1 {
    font-size: 3em;
  }
  .iit-content {
    padding-top: 0em;
  }
  .iit-content p {
    font-size: 1.2em;
    margin-bottom: 5.75em;
  }
  .iit-content a {
    margin-top: 0.25em;
    margin-left: 1.5em;
  }
  .feature-box {
    width: 100%;
  }
  .iit {
    min-height: 0;
  }
  .success {
    margin-top: 30px;
  }
  #login{
    padding-left: 8em;
    width: auto;
  }
  #register{
    padding-left: 8em;
    width: auto;
  }
}
/* Iphone X media queries*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: red;
    text-decoration: none;
    display: block;
    padding: 0.225em 0.538em;
    border-radius: 0.188em;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  .nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  } 
  .success {
    margin-top: 35px;
  }
  #login{
    padding-left: 6em;
    width: auto;
  }
  #register{
    padding-left: 6em;
    width: auto;
  }
}

/* Ipad Media queries */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
  nav {
    width: 100%;
    top: 1em;
  }
  nav ul   {
    list-style: none;
    position: relative;
    right: 0;
    right: 10xp;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
    padding: 0.3em;
    margin-right: 0em;
  }
  nav ul li a    {
    color: red;
    text-decoration: none;
    display: block;
    padding: 0.225em 0.538em;
    border-radius: 0.188em;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  .nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  } 
  header {
    padding: 0em 0em 2em 0em;
  }
  .search-box {
    position: absolute;
    left: 10em;

  }
  #logo{
    width: 35%;
    padding: .1em;
    display: none;
  }
  .iit-content h1 {
    font-size: 5em;
  }
  .iit-content {
    padding-top: 0em;
  }
  .iit-content p {
    font-size: 2.2em;
    margin-bottom: 7.75em;
  }
  .iit-content a {
    margin-top: 0.25em;
    margin-left: 1.5em;
  }
  .feature-box {
    width: 100%;
  }
  .iit {
    min-height: 0;
  }
  img {
    max-width:100%;
    height:auto;
  }
  .images {
    margin-left: 0;
  }
}
.welcome {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* Ipad 3 and 4 retina queries*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 

}
/* Ipad 1 and 2 queries */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){ 

}
/* Galaxy S9/S9+ queries */
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 740px) { 
 
  nav {
    width: 100%;
    top: 1em;
  }
  nav ul   {
    list-style: none;
    position: relative;
    right: 0;
    right: 10xp;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
    padding: 0.3em;
    margin-right: 0em;
  }
  nav ul li a    {
    color: red;
    text-decoration: none;
    display: block;
    padding: 0.225em 0.538em;
    border-radius: 0.188em;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
  
  .nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  } 
  header {
    padding: 0em 0em 2em 0em;
  }
  .search-box {
    position: absolute;
    top: 2.5em;
    left: 13em;
    margin-top: 2em;
	}  
/*Google Chrome queries */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .selector:not(*:root),
  span.justForChrome {
    padding: inherit;
    padding-left: 2.6%;
  }
  #logo{
    width: 35%;
    padding: .1em;
    display: none;
  }
  .iit-content h1 {
    font-size: 3em;
  }
  .iit-content {
    padding-top: 0em;
  }
  .iit-content p {
    font-size: 1.2em;
    margin-bottom: 5.75em;
  }
  .iit-content a {
    margin-top: 0.25em;
    margin-left: 1.5em;
  }
  .feature-box {
    width: 100%;
  }
  .iit {
    min-height: 0;
  }
  .success {
    margin-top: 30px;
  }
  #login{
    padding-left: 6em;
    width: auto;
  }
  #register{
    padding-left: 6em;
    width: auto;
  }
}
